@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  line-height: 1;
  font-family: Arial, "sans-serif";
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 2.5em;
  padding-left: 2.5em;
}
.sidebar__aside {
  flex-basis: 18.75em;
  flex-shrink: 0;
}
.banner {
  background-color: rgb(160, 219, 233);
}
.title {
  margin-bottom: 15px;
  border-bottom: 3px solid #000000;
}
.tag {
  font-family: "Arial", "sans-serif";
  font-size: 0.875rem;
  margin-right: 17px;
  display: inline-block;
  position: relative;
  color: #0074c4;
  margin-bottom: 10px;
}
.grid_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
}